* {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    left: 45px;
    top: 15px;
}

.cursos {
    position: absolute;
    left: 610px;
    top: 30px;
    font-size: 17px;
}

.sobre {
    position: absolute;
    left: 690px;
    top: 30px;
    font-size: 17px;
}

.apoiador {
    position: absolute;
    left: 760px;
    top: 30px;
    font-size: 17px;
}

.login {
    position: absolute;
    left: 920px;
    top: 30px;
    font-size: 17px;
}

.cadastro {
    position: absolute;
    left: 990px;
    top: 30px;
    font-size: 17px;
}

.validar {
    position: absolute;
    left: 1110px;
    top: 30px;
    font-size: 17px;
}

.guanabara {
    position: absolute;
    left: 600px;
    top: 80px;
}

.texto-destaque {
    position: absolute;
    left: 40px;
    top: 250px;
    font-size: 90px;
}

.texto-destaque-2 {
    position: absolute;
    left: 40px;
    top: 335px;
    font-size: 90px;
}

.minitexto-destaque {
    position: absolute;
    left: 40px;
    top: 450px;
    font-size: 17px;
}

.ciano {
    color: rgb(11, 230, 219);
}

.botao1 {
    background-color: rgb(34, 34, 255);
    border: 1px solid white;
    color: white;
    padding: 15px 45px;
    font-family: arial black;
    border-radius: 30px;
    font-size: 15px;
}

.botao1 {
    position: absolute;
    left: 40px;
    top: 560px;
}

.botao1:hover {
    background-color: white;
    color: rgb(34, 34, 255);
}

.oscursos {
    position: absolute;
    left: 15px;
    top: 770px;
}

.azulcor {
    color: rgb(34, 34, 255);
}

.escurocor {
    color: rgb(8, 8, 77);
}

.destaque-cursos {
    position: absolute;
    left: 930px;
    top: 920px;
    font-size: 28px;
}

.botao2 {
    background-color: rgb(34, 34, 255);
    color: white;
    border: none;
    padding: 18px 50px;
    font-family: arial black;
    border-radius: 30px;
}

.botao2 {
    position: absolute;
    left: 930px;
    top: 1190px;
}

.hyperlink {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: rgb(255, 255, 255);
    padding: 80px 674px;
}

.footer {
    position: absolute;
    top: 1500px;
}

.footer-texto {
    position: absolute;
    left: 30px;
    top: 80px;
    font-size: 15px;
}

hr {
    position: absolute;
    top: 1573px;
    left: 30px;
    width: 1295px;
    border-color: black;
}

.footer-texto-2 {
    position: absolute;
    left: 1035px;
    top: 80px;
    font-size: 15px;
}